
[build]
  publish = "build"
  command = "npm run build"

[build.environment]
  NODE_OPTIONS = "--max_old_space_size=4096"
  NODE_VERSION = "10.16.3"
  RUBY_VERSION = "2.6.2"
  NODE_ENV = "production"

[context.branch-deploy.environment]
  NODE_ENV = "staging"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Referrer-Policy = "no-referrer"
    X-Content-Type-Options = "nosniff"
