body {
  margin: 0;
  font-family: 'apercu-regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: 'apercu-regular';
}

h1 {
  font-family: 'apercu-regular';
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h2 {
  font-family: 'apercu-medium';
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h3 {
  font-family: 'apercu-regular';
  font-size: 24px;
}
h4 {
  font-family: 'apercu-medium';
  font-size: 22px;
  text-transform: uppercase;
}
h5 {
  font-family: 'apercu-regular';
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0;
}
h6 {
  font-family: 'apercu-regular';
  font-size: 20px;
  margin: 0;
}

@font-face {
  font-family: 'apercu-regular';
  src: url('/fonts/apercu-regular.eot');
  src: url('/fonts/apercu-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/apercu-regular.woff2') format('woff2'),
    url('/fonts/apercu-regular.woff') format('woff'),
    url('/fonts/apercu-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'apercu-medium';
  src: url('/fonts/apercu-medium.eot');
  src: url('/fonts/apercu-medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/apercu-medium.woff2') format('woff2'),
    url('/fonts/apercu-medium.woff') format('woff'),
    url('/fonts/apercu-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'apercu-bold';
  src: url('/fonts/apercu-bold.eot');
  src: url('/fonts/apercu-bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/apercu-bold.woff2') format('woff2'),
    url('/fonts/apercu-bold.woff') format('woff'),
    url('/fonts/apercu-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
